@import "./../../styles.scss";

a.logoIcon{
  text-decoration: none;
  img {
  width: 100%;
  }
}

.nameHeight{
  height:35px;

.nameOne{
  font-size: 49px;
  color: $textColor;
  font-weight: 700;
}

.nameTwo{
  font-size: 49px;
  color: $purple;
  font-weight: 700;
}

.nameThree{
  font-size: 49px;
  color: $green;
  font-weight: 700;
}
}

header {
  @include dFlex(center);
  background-color: $darkBlue;
  padding: 37px 100px;
  width: 100%;
  position: fixed;
  z-index: 9999;
  box-sizing: border-box;

  div {
    @include dFlex(space-between);
    max-width: 1440px;
    width: 100%;
    box-sizing: border-box;
  }

  nav {
    @include dFlex(flex-end, null);

    ul {
      @include dFlex();
      list-style: none;
      margin: 0;
      gap:32px;

      li {
        &:first-child {
          margin-left: 0;
        }

        a {
          color: $textColor;
          text-decoration: none;
          font-size: 23px;
          font-weight: 400;
          cursor: pointer;
          position: relative;
          white-space: nowrap;
          transition: all 0.3s ease-in-out;

          &:hover {
            color: $green;
          }

          &.active {
            color: $green; 
          }
           
          &.active::after {
            content: "";
            position: absolute;
            bottom: -4px;
            left: 0;
            display: block;
            height: 2px;
            width: 55px;
            background: $purple;
            transition: width 0.05s ease;
          }
        }
      }
    }
  }

  .language-selector {
    font-size: 23px;;
    z-index: 1000;
    display: flex;
    overflow: hidden; 
    color:$textColor;

    .language-option {
      cursor: pointer;
      transition: background-color 0.3s, color 0.3s;
      flex-direction: column;

      &.active::after {
        content: "";
        display: block;
        height: 2px;
        width: 30px;
        background: $purple;
        transition: width 0.05s ease;
      }

      &.hover {
        color: $green; 
      } 

      &:hover {
        color: $green;
      }
    }
  }

  .contact {
    display: none;
  }

  .rotate-animation {
    animation: rotate3DAnimation 1s ease-in-out forwards;
    transform-style: preserve-3d;
    perspective: 1000px;
  }

  @keyframes rotate3DAnimation {
    0% {
      opacity: 0;
      transform: rotateX(90deg);
    }
    100% {
      opacity: 1;
      transform: rotateX(0deg);
    }
  }

  @media (max-width: 860px) {
    .contact {
      display: block;
    }

    a.burger {
      display: block;
      justify-content: flex-end;
      align-items: center;
      margin-left: auto;
      z-index: 1000;
      cursor: pointer;
    }

    nav {
      display: none;
    }

    .burgerMenu {
      width: 100vw;
      height: 100vh;
      background-color: rgba(20, 29, 47, 0.9);
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: none;

      &.open {
        display: block;
      }
    }
    
    #mobile-burger {
      display: flex;
      flex-direction: column;
      padding-top: 80px;
      height: 60vh;
      z-index: 1000;
      font-size: 23px;
      gap: 29px;
      justify-content: center;

      a {
        color: whitesmoke;
        text-decoration: none;

        &:hover {
          cursor: pointer;
          color: $green;
          transition: 125ms;
        }
     }

      div {
        display: flex;
        justify-content: center;
        list-style: none;

        option{
          min-height: unset;
        }
      }
    }

    .hover {
      height: 24px;
      color: whitesmoke;
      text-decoration: none;
      font-weight: 400;
      font-size: 23px;
      white-space: nowrap;

      &:hover {
        transition: ease-in-out 200ms;
        color: $green;

        &::after {
          content: "";
          display: block;
          height: 4px;
          width: 50px;
          background: $purple;
          transition: ease-in-out 200ms;
        }
      }
    }
  }

  @media (min-width: 860px) {
    a.burger {
      display: none;
    }

    .burgerMenu {
      display: none;
    }
  }
}

@media (max-width: 1359px) {
  header {
    padding: 37px 25px;
  }
}

@media (max-width: 420px){
  .nameOne,
  .nameTwo,
  .nameThree {
    font-size: 38px; 
  }
}










