<header >
  <div>
    <a href="#landingpage" class="logoIcon">
      <div class="rotate-animation nameHeight" data-aos="fade-up">
        <p >
          <span class="nameOne">S</span>
          <span class="nameOne">e</span>
          <span class="nameOne">l</span>
          <span class="nameTwo">c</span>
          <span class="nameOne">u</span>
          <span class="nameThree">k</span>
        </p>
      </div>
    </a>
    <a class="burger" (click)="toggleMenu()">
      <img *ngIf="!isMenuOpen" src="assets/img/icons/burger.png" alt="Menu" />
      <img *ngIf="isMenuOpen" src="assets/img/icons/bar3.png" alt="Close Menu" />
    </a>

    <nav>
      <ul class="nav-list">
        <li>
          <a href="#aboutMe" (click)="activateLink('aboutMe')" [ngClass]="{'active': linkAboutMeActive}">
            {{ 'header.aboutMe' | translate }}
          </a>
        </li>
        <li>
          <a href="#skills" (click)="activateLink('skills')" [ngClass]="{'active': linkSkillsActive}">
            {{ 'header.skills' | translate }}
          </a>
        </li>
        <li>
          <a href="#portfolio" (click)="activateLink('portfolio')" [ngClass]="{'active': linkProjectsActive}">
            {{ 'header.portfolio' | translate }}
          </a>
        </li>
        <li class="language-selector-container">
          <div class="language-selector">
            <div 
              class="language-option" 
              (click)="switchLanguage($event)" 
              [ngClass]="{'active': linkEnActive || 
              selectedLanguage === 'en', 'hover': hoverEn}">
                <option  value="en">EN</option>
            </div>
            |
            <div 
              class="language-option" 
              (click)="switchLanguage($event)" 
              [ngClass]="{'active': linkDeActive || 
              selectedLanguage === 'de', 'hover': hoverDe}">
              <option  value="de">DE</option>
            </div>
          </div>
        </li>
      </ul>
    </nav>
  </div>

  <div class="burgerMenu" [class.open]="isMenuOpen">
    <div id="mobile-burger"> 
      <a class="headerLink hover" href="#aboutMe" (click)="activateLink('aboutMe')" [class.activeLink]="linkAboutMeActive">
        {{ "header.aboutMe" | translate }}
      </a>
      <a class="headerLink hover" href="#skills" (click)="activateLink('skills')" [class.activeLink]="linkSkillsActive">
        {{ "header.skills" | translate }}
      </a>
      <a class="headerLink hover" href="#portfolio" (click)="activateLink('portfolio')" [class.activeLink]="linkProjectsActive">
        {{ "header.portfolio" | translate }}
      </a>
      <a class="headerLink hover" href="#contact" (click)="activateLink('contact')" [class.activeLink]="linkContactActive">
        {{ "header.contact" | translate }}
      </a>
      <div>

        <li class="language-selector-container">
          <div class="language-selector">
            <div 
              class="language-option" 
              (click)="switchLanguage($event)" 
              [ngClass]="{'active': linkEnActive || 
              selectedLanguage === 'en', 'hover': hoverEn}">
                <option  value="en">EN</option>
            </div>
            |
            <div 
              class="language-option" 
              (click)="switchLanguage($event)" 
              [ngClass]="{'active': linkDeActive || 
              selectedLanguage === 'de', 'hover': hoverDe}">
              <option  value="de">DE</option>
            </div>
          </div>
        </li>
      </div>
    </div>
  </div>
</header>
