<footer>
    <div class="main">
        <div class="logoBox">
           <a href="#"><img src="assets/img/icons/name2.png" alt="Logo"/></a>
           <a (click)="scrollToImprintsTop()" class="imprintText">{{ 'impressum.headline' | translate}}</a>
        </div>

        <span class="copyright">© Selcuk Kocyigit 2024</span>

        <div class="innerIconContainer">
            <a href="https://github.com/Seldir193" target="_blank">
              <img src="assets/img/icons/github.png" alt="" />
            </a>
            <a href="mailto: info@selcuk-kocyigit.de" target="_blank">
              <img src="assets/img/icons/email.png" alt="" />
            </a>
            <a href="https://www.linkedin.com/in/kocyigit-selcuk-2933aa219/" target="_blank">
              <img src="assets/img/icons/in.png" alt="" />
            </a>
        </div>
        <a (click)="scrollToImprintsTop()" class="mobileImprint">{{ "impressum.headline" | translate }}</a>
     </div>
</footer>