<section id="aboutMe">
  <div class="app-about-me">
    <div class="lineLeft"></div>
    <div class="main">
      <div class="fade-up-animation" data-aos="fade-up">
        <div class="aboutContentContainer">
          <div>
            <h2>{{ "aboutMe.headline" | translate }}</h2>
            <span>{{ "aboutMe.introText" | translate }}</span>
            <div class="textContainer">
              <div class="aboutMeContentContainer">
                <div>
                  <img src="assets/img/icons/light.png" alt="" />
                  <span>{{ "aboutMe.firstText" | translate }}</span>
                </div>
                <div>
                  <img src="assets/img/icons/puzzle.png" alt="" />
                  <span>{{ "aboutMe.secondText" | translate }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="fade-up-animation-right" data-aos="fade-up">
        <div class="imgContainer">
          <div class="imgRightContainer"></div>
        </div>
      </div>

    </div>
    <img class="purple" src="assets/img/icons/shadow-right.png" alt="">
    <div class="lineRight" [ngClass]="{
      'lineRight-de': translateService.currentLang === 'de',
      'lineRight-en': translateService.currentLang === 'en'
    }"></div>
  </div>
</section>


