@import "./../../styles.scss";

section{
  height:100vh;
}
.main {
  @include dFlex(center,center,null);
  z-index: 10;
  flex-direction: column;

  .container {
    display: flex;
    margin: 120px 47px;

    .imgContainer {
      display: flex;
      background-image: url('/assets/img/icons/shadows.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      z-index: -3;
      max-width: 600px;

      img {
        //width: 100%;
        object-fit: cover;
        z-index: -2;
        height: 600px;

      }

    }

    .textContainer {
      display: flex;
      max-height: 172px;
      margin-top: 80px;

      .sideText {
        color: $textColor;
        font-size: 64px;
        font-weight: 400;
        line-height: 76.8px;
        transform: rotate(270deg);
        white-space: nowrap;
        height: 63px;
      }

      .deIam {
        font-size: 42px !important;
        height: 110px;
        line-height: 130px;
      }

      .textContent {
        @include dFlex(null, start);
        flex-direction: column;
      }

      .nameText {
        color: $textColor;
        font-size: 90px;
        font-weight: 700;
        line-height: 108px;
        white-space: nowrap;
      }

      .jobNameText {
        color: $purple;
        font-size: 58px;
        font-weight: 400;
        line-height: 69.6px;
      }
    }

    .buttonContainer {
      @include dFlex(center, null);
      width: 70%;
    }
  }

  .iconContainer {
    @include dFlex(center);
    width: 100%;
  }

  .lineLeft {
    @include dFlex(center);
    min-width: 100px;
    z-index: 2;
    height:4px;
    flex-grow: 1.25;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    background-color: $purple;
        &:hover {
            background-color: $lightBlue;
        }
  }

  .lineRight {
    flex-grow: 1;
  }

  .innerIconContainer {
    @include dFlex(start, center, 40px);
    padding-left: 20px;
    width: 100%;
    max-width: 1440px;
    height: 34px;

    a {
      display: inline-block;

      img {
        width: 30px;
        height: 29.26px;
        cursor: pointer;
        transition: transform 100ms ease-in-out;

        &:hover {
          transform: scale(1.3);
        }
      }
    }

    .email {
      color: $textColor;
      font-weight: 400;
      font-size: 23px;
      line-height: 27.6px;
    }
  }

  .scrollDownContainer {
    @include dFlex(flex-start, center,60px);
    top: 323px;
    right: 0;
    z-index: 3;
    flex-direction: column;
    min-height:300px;
    animation: scrollTop 1.5s ease-in-out;
    animation-iteration-count: infinite;
    margin-left: auto;
    margin-right: 0;
    cursor: pointer;

    > p {
      font-weight: 400;
      font-size: 23px;
      line-height: 27.6px;
      color: $textColor;
      transform: rotate(90deg);
    }
  }

  @keyframes scrollTop {
    0% { transform: translateY(0px); }
    50% { transform: translateY(20px); }
    100% { transform: translateY(0px); }
  }

  .backgroundShadowContainer {
    position: absolute;
    top: 400px;
    right: 0;
    max-width: 100vw;
    width: 100vw;
    z-index: -2;
    min-height: 100vh;

    > img {
      width: 100%;
      height: 100%;
    }

    .backgroundShadow {
      display: block !important;
    }

    .backgroundShadowTwo {
      display: none !important;
    }
  }

  @media (min-width: 1360px) and (max-width: 1540px){
  .backgroundShadowContainer { top: 230px; }
}

  @media(min-width: 1541px) and (max-width: 1690px) {
   .backgroundShadowContainer { top: 180px; }
 }

  @media (min-width: 1691px) and (max-width: 1900px) {
    .backgroundShadowContainer {
      top: 150px;
    }
  }

  @media (min-width: 1901px) and (max-width: 2080px) {
    .backgroundShadowContainer {
      top: 100px;
    }
  }


  @media (min-width: 2081px) and (max-width: 2240px) {
    .backgroundShadowContainer {
      top: 60px;
    }
  }

  @media (min-width: 2241px) and (max-width: 2430px) {
    .backgroundShadowContainer {
      top: 10px;
    }
  }

  @media (min-width: 2331px) and (max-width: 2480px) {
    .backgroundShadowContainer {
      top: 0px;
    }
  }

  @media (min-width: 2481px) and (max-width: 2730px) {
    .backgroundShadowContainer {
      top: -50px;
    }
  }

  @media (min-width: 2731px) and (max-width: 2910px) {
    .backgroundShadowContainer {
      top: -100px;
    }
  }

  @media (min-width: 2911px) and (max-width: 3144px) {
    .backgroundShadowContainer {
      top: -150px;
    }
  }

  @media (min-width: 3145px) and (max-width: 3340px) {
    .backgroundShadowContainer {
      top: -200px;
    }
  }

  @import "./above-the-fold-mobile.scss";
}















