<section id="skills">

  <div class="lineLeft"></div>
  <div class="app-my-skills">
    <a href="#contact" class="mobile-Button">{{ "skills.button" | translate }}</a>
    <div class="left-container fade-up-animation" data-aos="fade-up">
      <div>
        <img src="assets/img/icons/angular.png" alt="Angular">
        <span>Angular</span>
      </div>
      <div>
        <img src="assets/img/icons/typescript.png" alt="TypeScript">
        <span>TypeScript</span>
      </div>
      <div>
        <img src="assets/img/icons/javascript.png" alt="JavaScript">
        <span>JavaScript</span>
      </div>
      <div>
        <img src="assets/img/icons/html.png" alt="HTML">
        <span>HTML</span>
      </div>
      <div>
        <img src="assets/img/icons/firebase.png" alt="Firebase">
        <span>Firebase</span>
      </div>
      <div>
        <img src="assets/img/icons/git.png" alt="GIT">
        <span>GIT</span>
      </div>
      <div>
        <img src="assets/img/icons/css.png" alt="CSS">
        <span>CSS</span>
      </div>
      <div>
        <img src="assets/img/icons/api.png" alt="Rest-Api">
        <span>Rest-Api</span>
      </div>
      <div>
        <img src="assets/img/icons/scrum.png" alt="Scrum">
        <span>Scrum</span>
      </div>
      <div>
        <img src="assets/img/icons/material.png" alt="Materialdesign">
        <span>Material Design</span>
      </div>
    </div>

    <div class="fade-up-animation-right" data-aos="fade-up">
      <div class="aboutContentContainer">
        <h2>{{ "skills.headline" | translate }}</h2>
        <span>{{ "skills.textBox" | translate }}</span>
        <div class="buttonContainer">
          <a href="#contact" class="talkButton">{{ "skills.button" | translate }}</a>
        </div>
      </div>
      <div class="line-Right-Mobile"></div>
    </div>

    <img class="green" src="assets/img/icons/green-shadow-left.png" alt="">

  </div>
  <div class="lineRight"></div>
</section>