<section id="impressum">
    <nav class="main">
        <div class="headline">
            <h1>{{ "impressum.headline" | translate}}</h1><br>
            <a routerLink="/" routerLinkAktive="aktive">
                <img class="go-up" src="assets/img/icons/Go-up-button.png">
            </a>
        </div>
            <h4>{{ "impressum.paragraph5" | translate}}</h4>
            <h2>{{ "impressum.Represented" |translate}}</h2>
            <p>Selcuk Kocyigit</p><br>
        
            <h3>{{ "impressum.contact" |translate}}</h3>
            <div class="address">
                <p>Hochfelder Str.33</p>
                <p>47226 Duisburg</p>
                <p>Germany</p>
              </div>
            <p>E-mail: info&#64;selcuk-kocyigit.de</p>
            <p>{{ "impressum.quelle" | translate }} <a href="https://www.e-recht24.de">https://www.e-recht24.de</a></p>
    </nav>






</section>
