<section id="impressum">


    <nav class="main">
        <div class="headline">
            <h1>{{ "impressum.headline" | translate}}</h1><br>
            <a routerLink="/" routerLinkAktive="aktive">
                <img class="go-up" src="assets/img/icons/Go-up-button.png">
            </a>
        </div>

            <p>{{ "impressum.paragraph5" | translate}}</p>
            <h2>{{ "impressum.Represented" |translate}}</h2>
            <p>Selcuk Kocyigit</p><br>
            
            <h3>{{ "impressum.contact" |translate}}</h3>
            <p>Hochfelder Str.33</p>
            <p>47226 Duisburg</p>
            <p>Germany</p><br><br>
            <p>E-mail: info&#64;selcuk-kocyigit.de</p><br><br>
            <p>{{ "impressum.quelle" | translate }}<a href="https://www.e-recht24.de">https://www.e-recht24.de</a></p>
            

            
    </nav>






</section>
