<section id="privacyPolicy">

    <div class="main">
        <h1>{{ 'privacyPolicy.headline' | translate}}</h1>
        <a routerLink="/" routerLinkAktive="aktive">
            <img class="go-up" src="assets/img/icons/Go-up-button.png">
        </a>
    </div>

   <div class="textBox">
        <p>
          {{ "privacyPolicy.generateText1" | translate}}
        </p>
    
        <p>
          {{ "privacyPolicy.generateText2" | translate}}
        </p>
    
        <p>
          {{ "privacyPolicy.generateText3" | translate}}
        </p>
    </div>

    <div class="selectBox">
        <p>{{ "privacyPolicy.select" | translate}}</p>
    
        <p>
          {{ "privacyPolicy.select1" | translate}}<br />
          {{ "privacyPolicy.select2" | translate}}<br />
          {{ "privacyPolicy.select3" | translate}}
        </p>
      </div>

      <div class="infoHeadline">
        <h2>{{ "privacyPolicy.infoHeadline" | translate}}</h2>

        <p>{{ "privacyPolicy.infoText" | translate}}</p>
      
        <p>Selcuk Kocyigit</p>
        <p>Hochfelder Str.33</p>
        <p>47226 Duisburg</p>
    
        <p>Telefon: 017643203362<br />E-Mail: selcuk.80&#64;outlook.de</p>

        <h3>{{ "privacyPolicy.trueHeadline" | translate}}</h3>

        <p>
            {{ "privacyPolicy.trueText1" | translate}}
        </p>
        <ul>
            <li>
              {{ "privacyPolicy.trueText2" | translate}}
            </li>
        
            <li>
              {{ "privacyPolicy.trueText3" | translate}}
            </li>
        
            <li>
              {{ "privacyPolicy.trueText4" | translate}}
            </li>
        
            <li>
              {{ "privacyPolicy.trueText5" | translate}}
            </li>
        
            <li>
              {{ "privacyPolicy.trueText6" | translate}}
            </li>
        </ul>
        <p>
            {{ "privacyPolicy.trueText7" | translate}}
        </p>
        
        <p>
           <strong >{{ "privacyPolicy.trueText8" | translate}}</strong>
        </p>

        <h4>{{ "privacyPolicy.dataHeadline" | translate}}</h4>

        <p>{{ "privacyPolicy.dataText" |translate}}</p>

        <h5>{{ "privacyPolicy.contactHeadline" | translate}}</h5>

        <div class="privacy-content">
            <p>{{ "privacyPolicy.contactText1" | translate }}</p>
            <p>{{ "privacyPolicy.contactText2" | translate }}</p>
            <p>{{ "privacyPolicy.contactText3" | translate }}</p>
        </div>

        <p class="generatorContainer">
            <a
              href="https://www.generator-datenschutzerklärung.de"
              target="_blank"
              rel="noopener"> {{ "privacyPolicy.linkMuster" | translate}}</a>

              {{ "privacyPolicy.the" | translate}}
            <a
              href="https://www.bewertung-löschen24.de"
              rel="nofollow noopener"
              target="_blank">    
              {{ "privacyPolicy.nameOfSamplePartner" | translate}}</a>
          </p>
    </div>
</section>
